<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Service</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='mainstyle.css')  }}">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static',filename = '8dd8b7ccd46549f7a946576b29c96889.png') }}" alt="TrackVIT Logo">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('rend') }}#about">About</a></li>
                <li><a href="{{ url_for('rend') }}#features">Our Features</a></li>
                <li><a href="{{ url_for('rend') }}#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="internship-transfer">
            <div class="button-container">
                <a href="#" class="rounded-button">Internship Listing
                    <br>
                    {% if intern %}
                    <ul>
                        {% for i in intern %}
                        <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                </a>
                <a href="#" class="rounded-button">Transfer Program Listing
                <br>
                {% if transfer %}
                    <ul>
                    {% for i in transfer %}
                        <li>{{i}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </a>
            </div>
        </section>
        
    </main>
    <footer>
        <p>&copy; 2023 TrackVIT. All rights reserved.</p>
    </footer>
</body>
</html>
