.logo img {
    width: 150px;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
    
}

.nav-links a {
    text-decoration: none;
    color: #7A7265;
    font-size: 18px;
    transition: color 0.3s ease;
    font-family:Impact, Haettenschweiler, 'Arial', sans-serif;
}

.nav-links a:hover {
    color: #C0B7B1;
}

header {
    background-color: #433E3F;
    padding: 20px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial', sans-serif;
}

#internship-transfer {
    text-align: center;
    margin-top: 40px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.rounded-button {
    display: inline-block;
    background-color: #433E3F;
    color: #7A7265;
    padding: 20px;
    border: none;
    border-radius: 30px;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 10px;
    width: 50%;
    height: 90%;
    text-decoration: none;
    font-size: 18px;
    font-family:Impact, Haettenschweiler, 'Arial', sans-serif;
}

.rounded-button:hover {
    background-color: #433E3F;
}

body {
    background-color: #7A7265;
    color: #C0B7B1;
    font-family:Impact, Haettenschweiler, 'Arial', sans-serif;
  }
